In [1]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib as matplt
import json
from collections import defaultdict
from sklearn.model_selection import train_test_split

In [2]:

#Ensures we can mount our google drive; this helps us save time uploading files everytime
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

## Get rough info about the dataset

This is the first general portion whereby we can find out more about the dataset

In [3]:
data= pd.read_json('/content/gdrive/MyDrive/Shopee Code Leagure/contacts.json')

data.info()
data.describe()
data.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Id        500000 non-null  int64
 1   Email     500000 non-null  object
 2   Phone     500000 non-null  object
 3   Contacts  500000 non-null  int64
 4   OrderId   500000 non-null  object
dtypes: int64(2), object(3)
memory usage: 19.1+ MB

   Id                     Email  ... Contacts                    OrderId
0   0            gkzAbIy@qq.com  ...        1
1   1                            ...        4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                            ...        0
3   3        mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
4   4                            ...        2
5   5                            ...        0
6   6  hESiBgYTxMnj@hotmail.com  ...        4
7   7  hqyunTiaXfIjhO@yahoo.com  ...        1  vxjYZtMUvNhtEBDruzQfjpsmX
8   8   XGUjcSiDpFKWEUCs@qq.com  ...        2
9   9    osIIQgAiZX@hotmail.com  ...        0  IqewrMXVTJqSsVklWFfOpdRNI

[10 rows x 5 columns]

In [4]:
data.loc[3]

Id                                  3
Email              mdllpYmE@gmail.com
Phone
Contacts                            0
OrderId     bHquEnCbbsGLqllwryxPsNOxa
Name: 3, dtype: object

In [5]:
#replacing with with NAN
df_new= data.replace("", np.nan)
df_new_order = df_new.copy()
df_new_email = df_new.copy()
df_new_phone = df_new.copy()

In [6]:
df_new_order.dropna(subset = ["OrderId"], inplace=True)
df_new_email.dropna(subset = ["Email"], inplace=True)
df_new_phone.dropna(subset = ["Phone"], inplace=True)

df_order = df_new_order
df_email = df_new_email
df_phone = df_new_phone

df_order

            Id                     Email  ... Contacts                    OrderId
1            1                       NaN  ...        4  vDDJJcxfLtSfkooPhbYnJdxov
3            3        mdllpYmE@gmail.com  ...        0  bHquEnCbbsGLqllwryxPsNOxa
7            7  hqyunTiaXfIjhO@yahoo.com  ...        1  vxjYZtMUvNhtEBDruzQfjpsmX
9            9    osIIQgAiZX@hotmail.com  ...        0  IqewrMXVTJqSsVklWFfOpdRNI
10          10                       NaN  ...        3  OHRFAXqbAzyxljoUDaOErwtrg
...        ...                       ...  ...      ...                        ...
499995  499995                       NaN  ...        2  whJlUOGNqjxCRzmIRdURQvlNv
499996  499996                       NaN  ...        4  JqIXOONvrwvJxZqNxCYHqnrKS
499997  499997                       NaN  ...        2  beXCZSzcHaBwAYoDcpQqjuAFO
499998  499998       RzSDsyH@hotmail.com  ...        1  ehjeFACGiwrERQxbziMxwOWku
499999  499999                       NaN  ...        0  JibSBRgzYdfzkzbTuGUXrcvDX

[243544 rows x 5 columns]

In [7]:
OrderList = []
EmailList = []
PhoneList = []

OrderList = df_order.OrderId.unique()
EmailList = df_email.OrderId.unique()
PhoneList = df_phone.OrderId.unique()
OrderList

array(['vDDJJcxfLtSfkooPhbYnJdxov', 'bHquEnCbbsGLqllwryxPsNOxa',
       'vxjYZtMUvNhtEBDruzQfjpsmX', ..., 'JqIXOONvrwvJxZqNxCYHqnrKS',
       'beXCZSzcHaBwAYoDcpQqjuAFO', 'JibSBRgzYdfzkzbTuGUXrcvDX'],
      dtype=object)

In [8]:
duplicatedOrder_Id = df_order[df_order.duplicated(['OrderId'], keep= False)].reset_index()
duplicatedEmail_Id = df_email[df_email.duplicated(['Email'], keep= False)].reset_index()
duplicatedPhone_Id = df_phone[df_phone.duplicated(['Phone'], keep= False)].reset_index()

In [9]:
dup_orderlist =duplicatedOrder_Id["OrderId"].tolist()
dup_Emaillist =duplicatedEmail_Id["Email"].tolist()
dup_Phonelist =duplicatedPhone_Id["Phone"].tolist()

In [10]:
#for testing
def list_duplicates_of(seq,item,data):
    start_at = -1
    locs = []
    while True:
        try:
            loc = seq.index(item,start_at+1)
        except ValueError:
            break
        else:
            locs.append(loc)
            start_at = loc
    return list(data.loc[locs].Id)

'''
source = dup_Phonelist
print(list_duplicates_of(source,'474280608', duplicatedPhone_Id))
'''
def list_duplicates(seq, data):
    tally = defaultdict(list)
    for i,item in enumerate(seq):
        tally[item].append(data.loc[i].Id)
    return ((key,locs) for key,locs in tally.items() 
                            if len(locs)>1)

def make_list(source, dataframe):
  x= {}
  for i in range(500000):
    x[i]= [int(i)]
  
  for dup in list_duplicates(source, dataframe):
    for i in range(len(dup[1])):
      x[dup[1][i]] = dup[1]
  return (x)



order_trace = make_list(dup_orderlist, duplicatedOrder_Id) 
email_trace = make_list(dup_Emaillist, duplicatedEmail_Id) 
phone_trace = make_list(dup_Phonelist, duplicatedPhone_Id)

In [11]:
order_trace

{0: [0],
 1: [1, 2458, 476346],
 2: [2],
 3: [3],
 4: [4],
 5: [5],
 6: [6],
 7: [7],
 8: [8],
 9: [9, 13, 343161],
 10: [10],
 11: [11],
 12: [12],
 13: [9, 13, 343161],
 14: [14],
 15: [15],
 16: [16],
 17: [17],
 18: [18, 274269, 327057],
 19: [19],
 20: [20],
 21: [21],
 22: [22],
 23: [23, 1944, 49506],
 24: [24],
 25: [25],
 26: [26, 402598],
 27: [27, 246],
 28: [28, 1271, 26068],
 29: [29],
 30: [30],
 31: [31, 66232],
 32: [32],
 33: [33, 459, 499013],
 34: [34],
 35: [35],
 36: [36],
 37: [37, 1864],
 38: [38],
 39: [39],
 40: [40, 1182],
 41: [41],
 42: [42],
 43: [43, 480546],
 44: [44],
 45: [45],
 46: [46],
 47: [47],
 48: [48],
 49: [49],
 50: [50, 226720, 458692],
 51: [51],
 52: [52, 340482],
 53: [53],
 54: [54, 378247],
 55: [55],
 56: [56],
 57: [57],
 58: [58],
 59: [59],
 60: [60, 7964],
 61: [61],
 62: [62],
 63: [63, 471199],
 64: [64],
 65: [65],
 66: [66],
 67: [67],
 68: [68],
 69: [69],
 70: [70],
 71: [71, 335, 2441, 10088, 23134, 169975],
 72: [72],
 73: [73],
 74: [74, 146498, 491356],
 75: [75],
 76: [76, 470100],
 77: [77],
 78: [78, 285621],
 79: [79],
 80: [80, 122330],
 81: [81],
 82: [82],
 83: [83, 22387],
 84: [84],
 85: [85],
 86: [86, 447444],
 87: [87],
 88: [88],
 89: [89, 470531],
 90: [90, 53830],
 91: [91],
 92: [92],
 93: [93],
 94: [94, 279700],
 95: [95],
 96: [96, 9854, 58319],
 97: [97],
 98: [98],
 99: [99, 62730, 115978, 127705],
 100: [100, 822, 282502, 306045],
 101: [101],
 102: [102],
 103: [103],
 104: [104],
 105: [105, 15905, 486426],
 106: [106, 856],
 107: [107, 465, 280212],
 108: [108, 87503, 97890, 109593],
 109: [109],
 110: [110, 429244],
 111: [111],
 112: [112, 135, 240831, 456371],
 113: [113],
 114: [114],
 115: [115],
 116: [116, 19803, 292480, 366421],
 117: [117],
 118: [118],
 119: [119],
 120: [120],
 121: [121],
 122: [122],
 123: [123, 491626],
 124: [124],
 125: [125],
 126: [126],
 127: [127],
 128: [128],
 129: [129],
 130: [130],
 131: [131],
 132: [132, 137580, 453735],
 133: [133, 97036],
 134: [134],
 135: [112, 135, 240831, 456371],
 136: [136],
 137: [137, 107753],
 138: [138, 281849],
 139: [139],
 140: [140],
 141: [141],
 142: [142],
 143: [143],
 144: [144],
 145: [145],
 146: [146],
 147: [147],
 148: [148, 81493, 303270],
 149: [149],
 150: [150],
 151: [151],
 152: [152],
 153: [153],
 154: [154, 105122],
 155: [155],
 156: [156],
 157: [157],
 158: [158, 313250],
 159: [159],
 160: [160],
 161: [161],
 162: [162],
 163: [163],
 164: [164, 937, 1610, 56600],
 165: [165],
 166: [166],
 167: [167],
 168: [168, 386, 392461],
 169: [169],
 170: [170],
 171: [171],
 172: [172],
 173: [173],
 174: [174],
 175: [175],
 176: [176],
 177: [177],
 178: [178, 90912, 203228],
 179: [179],
 180: [180, 268358],
 181: [181],
 182: [182, 313867],
 183: [183],
 184: [184, 405992],
 185: [185, 288495, 360010],
 186: [186],
 187: [187],
 188: [188],
 189: [189],
 190: [190],
 191: [191],
 192: [192],
 193: [193],
 194: [194],
 195: [195],
 196: [196, 290992],
 197: [197],
 198: [198],
 199: [199],
 200: [200],
 201: [201],
 202: [202],
 203: [203],
 204: [204, 3869, 22817, 260819],
 205: [205],
 206: [206],
 207: [207],
 208: [208],
 209: [209, 7891],
 210: [210],
 211: [211],
 212: [212],
 213: [213, 480259],
 214: [214],
 215: [215],
 216: [216],
 217: [217, 489730],
 218: [218],
 219: [219],
 220: [220],
 221: [221],
 222: [222],
 223: [223],
 224: [224],
 225: [225],
 226: [226],
 227: [227],
 228: [228],
 229: [229],
 230: [230],
 231: [231],
 232: [232],
 233: [233],
 234: [234],
 235: [235, 85009, 198545],
 236: [236, 87239],
 237: [237],
 238: [238],
 239: [239],
 240: [240, 462828],
 241: [241],
 242: [242],
 243: [243],
 244: [244],
 245: [245],
 246: [27, 246],
 247: [247],
 248: [248, 97987, 343852],
 249: [249, 801],
 250: [250],
 251: [251],
 252: [252, 118239],
 253: [253],
 254: [254],
 255: [255, 288, 3008, 65707, 125574, 428798],
 256: [256],
 257: [257],
 258: [258],
 259: [259],
 260: [260, 103180],
 261: [261],
 262: [262, 218895],
 263: [263],
 264: [264],
 265: [265],
 266: [266],
 267: [267, 485289],
 268: [268],
 269: [269],
 270: [270],
 271: [271, 44474, 83654],
 272: [272],
 273: [273],
 274: [274],
 275: [275],
 276: [276, 408958],
 277: [277],
 278: [278],
 279: [279],
 280: [280, 422180],
 281: [281],
 282: [282],
 283: [283],
 284: [284],
 285: [285],
 286: [286],
 287: [287],
 288: [255, 288, 3008, 65707, 125574, 428798],
 289: [289],
 290: [290],
 291: [291],
 292: [292],
 293: [293],
 294: [294],
 295: [295],
 296: [296],
 297: [297],
 298: [298],
 299: [299],
 300: [300],
 301: [301],
 302: [302],
 303: [303],
 304: [304],
 305: [305],
 306: [306],
 307: [307, 2483, 34074],
 308: [308, 13146, 73086],
 309: [309],
 310: [310],
 311: [311],
 312: [312],
 313: [313],
 314: [314],
 315: [315],
 316: [316],
 317: [317],
 318: [318, 5762],
 319: [319],
 320: [320, 1480, 44840],
 321: [321],
 322: [322, 32512, 189118, 408187],
 323: [323],
 324: [324, 39182, 39366, 299746],
 325: [325],
 326: [326],
 327: [327, 1305, 17714, 323771, 472944],
 328: [328],
 329: [329],
 330: [330],
 331: [331],
 332: [332],
 333: [333, 441951],
 334: [334],
 335: [71, 335, 2441, 10088, 23134, 169975],
 336: [336],
 337: [337],
 338: [338, 56044],
 339: [339],
 340: [340, 244959],
 341: [341, 264598],
 342: [342],
 343: [343],
 344: [344],
 345: [345, 262059],
 346: [346],
 347: [347],
 348: [348],
 349: [349],
 350: [350],
 351: [351],
 352: [352],
 353: [353],
 354: [354],
 355: [355],
 356: [356],
 357: [357],
 358: [358, 437867],
 359: [359],
 360: [360, 254944],
 361: [361],
 362: [362],
 363: [363],
 364: [364],
 365: [365],
 366: [366],
 367: [367],
 368: [368],
 369: [369, 193546],
 370: [370],
 371: [371],
 372: [372, 49667],
 373: [373],
 374: [374],
 375: [375],
 376: [376],
 377: [377],
 378: [378, 26718, 114967],
 379: [379, 35435, 307540],
 380: [380, 12057, 33029],
 381: [381],
 382: [382],
 383: [383],
 384: [384],
 385: [385],
 386: [168, 386, 392461],
 387: [387],
 388: [388],
 389: [389],
 390: [390],
 391: [391, 97714, 230594],
 392: [392],
 393: [393],
 394: [394],
 395: [395],
 396: [396, 154204, 245805, 475761],
 397: [397],
 398: [398],
 399: [399],
 400: [400],
 401: [401],
 402: [402],
 403: [403],
 404: [404, 389774],
 405: [405, 251711, 361494],
 406: [406],
 407: [407],
 408: [408],
 409: [409, 1443, 468485],
 410: [410],
 411: [411, 240255],
 412: [412, 4731],
 413: [413, 343113],
 414: [414],
 415: [415],
 416: [416, 77441, 180802, 380155],
 417: [417, 115316],
 418: [418],
 419: [419, 264363],
 420: [420],
 421: [421],
 422: [422],
 423: [423, 124282],
 424: [424],
 425: [425],
 426: [426],
 427: [427],
 428: [428],
 429: [429],
 430: [430],
 431: [431],
 432: [432],
 433: [433, 169963, 232396, 238394],
 434: [434],
 435: [435],
 436: [436],
 437: [437],
 438: [438, 252495],
 439: [439, 85904],
 440: [440],
 441: [441],
 442: [442],
 443: [443],
 444: [444, 132601],
 445: [445],
 446: [446],
 447: [447],
 448: [448],
 449: [449],
 450: [450],
 451: [451, 257117],
 452: [452],
 453: [453],
 454: [454],
 455: [455],
 456: [456],
 457: [457, 219497],
 458: [458],
 459: [33, 459, 499013],
 460: [460],
 461: [461, 128188],
 462: [462, 236650, 360242],
 463: [463, 282914],
 464: [464],
 465: [107, 465, 280212],
 466: [466, 460410, 496986],
 467: [467, 62041],
 468: [468],
 469: [469],
 470: [470],
 471: [471],
 472: [472],
 473: [473],
 474: [474],
 475: [475],
 476: [476],
 477: [477],
 478: [478, 31756],
 479: [479],
 480: [480],
 481: [481],
 482: [482],
 483: [483],
 484: [484, 307287],
 485: [485],
 486: [486],
 487: [487],
 488: [488, 359626],
 489: [489],
 490: [490],
 491: [491],
 492: [492],
 493: [493],
 494: [494],
 495: [495],
 496: [496],
 497: [497],
 498: [498],
 499: [499],
 500: [500, 131552],
 501: [501],
 502: [502, 327256],
 503: [503],
 504: [504],
 505: [505],
 506: [506],
 507: [507],
 508: [508],
 509: [509],
 510: [510],
 511: [511],
 512: [512],
 513: [513],
 514: [514, 39575, 230363],
 515: [515],
 516: [516],
 517: [517],
 518: [518, 413056],
 519: [519],
 520: [520],
 521: [521],
 522: [522],
 523: [523],
 524: [524],
 525: [525],
 526: [526],
 527: [527],
 528: [528],
 529: [529],
 530: [530],
 531: [531],
 532: [532],
 533: [533, 217340],
 534: [534],
 535: [535],
 536: [536],
 537: [537],
 538: [538],
 539: [539, 235689, 253369],
 540: [540, 80757],
 541: [541],
 542: [542],
 543: [543],
 544: [544],
 545: [545],
 546: [546],
 547: [547, 158946, 254240],
 548: [548],
 549: [549, 225394],
 550: [550, 462470],
 551: [551],
 552: [552],
 553: [553],
 554: [554],
 555: [555, 1295, 405463],
 556: [556],
 557: [557],
 558: [558],
 559: [559],
 560: [560],
 561: [561],
 562: [562],
 563: [563],
 564: [564],
 565: [565, 114997],
 566: [566],
 567: [567],
 568: [568, 85792],
 569: [569],
 570: [570, 364222],
 571: [571],
 572: [572],
 573: [573],
 574: [574, 624, 302155, 375542],
 575: [575],
 576: [576],
 577: [577],
 578: [578],
 579: [579],
 580: [580, 146464],
 581: [581],
 582: [582],
 583: [583],
 584: [584, 385073],
 585: [585],
 586: [586],
 587: [587],
 588: [588],
 589: [589],
 590: [590],
 591: [591],
 592: [592],
 593: [593],
 594: [594],
 595: [595],
 596: [596],
 597: [597, 480264],
 598: [598],
 599: [599],
 600: [600],
 601: [601, 134000, 333961, 423274],
 602: [602],
 603: [603, 70967, 193937, 311348],
 604: [604, 436665],
 605: [605],
 606: [606, 327210],
 607: [607],
 608: [608],
 609: [609],
 610: [610],
 611: [611],
 612: [612],
 613: [613],
 614: [614, 1067, 37425, 427041],
 615: [615],
 616: [616],
 617: [617, 43717, 45046],
 618: [618],
 619: [619],
 620: [620],
 621: [621],
 622: [622, 2793, 93152],
 623: [623],
 624: [574, 624, 302155, 375542],
 625: [625, 96928, 447398],
 626: [626],
 627: [627],
 628: [628],
 629: [629],
 630: [630],
 631: [631],
 632: [632, 145714],
 633: [633],
 634: [634],
 635: [635],
 636: [636],
 637: [637],
 638: [638],
 639: [639, 359800],
 640: [640],
 641: [641],
 642: [642],
 643: [643],
 644: [644],
 645: [645],
 646: [646],
 647: [647],
 648: [648, 61414],
 649: [649],
 650: [650],
 651: [651, 302067],
 652: [652],
 653: [653],
 654: [654],
 655: [655],
 656: [656],
 657: [657],
 658: [658],
 659: [659],
 660: [660],
 661: [661],
 662: [662, 250291],
 663: [663],
 664: [664, 369006],
 665: [665],
 666: [666],
 667: [667],
 668: [668, 1057],
 669: [669],
 670: [670, 433210],
 671: [671],
 672: [672],
 673: [673],
 674: [674],
 675: [675],
 676: [676],
 677: [677],
 678: [678],
 679: [679, 15853, 491111],
 680: [680],
 681: [681],
 682: [682, 1340, 120892],
 683: [683],
 684: [684],
 685: [685],
 686: [686, 205960],
 687: [687],
 688: [688],
 689: [689],
 690: [690],
 691: [691],
 692: [692],
 693: [693],
 694: [694],
 695: [695],
 696: [696],
 697: [697],
 698: [698],
 699: [699],
 700: [700],
 701: [701],
 702: [702],
 703: [703, 302102],
 704: [704, 6138],
 705: [705],
 706: [706],
 707: [707],
 708: [708],
 709: [709],
 710: [710],
 711: [711],
 712: [712, 394776],
 713: [713],
 714: [714],
 715: [715, 2128],
 716: [716],
 717: [717, 50012, 342028, 452270],
 718: [718],
 719: [719],
 720: [720],
 721: [721],
 722: [722],
 723: [723],
 724: [724, 27069],
 725: [725],
 726: [726],
 727: [727, 25720],
 728: [728, 148316],
 729: [729],
 730: [730],
 731: [731, 184775],
 732: [732, 205749, 249767],
 733: [733],
 734: [734],
 735: [735],
 736: [736],
 737: [737, 1807],
 738: [738],
 739: [739],
 740: [740],
 741: [741],
 742: [742, 5290, 163881, 186066],
 743: [743],
 744: [744],
 745: [745],
 746: [746],
 747: [747],
 748: [748],
 749: [749],
 750: [750],
 751: [751],
 752: [752],
 753: [753],
 754: [754],
 755: [755],
 756: [756],
 757: [757, 9698, 69356],
 758: [758],
 759: [759],
 760: [760, 36387],
 761: [761],
 762: [762],
 763: [763, 24264],
 764: [764],
 765: [765, 22189],
 766: [766],
 767: [767, 50677],
 768: [768],
 769: [769],
 770: [770],
 771: [771],
 772: [772],
 773: [773],
 774: [774],
 775: [775],
 776: [776],
 777: [777],
 778: [778, 11808],
 779: [779, 2241, 100682, 115748, 133644, 171839],
 780: [780],
 781: [781],
 782: [782],
 783: [783],
 784: [784],
 785: [785],
 786: [786],
 787: [787, 472485],
 788: [788, 397921],
 789: [789],
 790: [790],
 791: [791],
 792: [792],
 793: [793, 4216, 11813],
 794: [794],
 795: [795],
 796: [796],
 797: [797],
 798: [798, 113053],
 799: [799],
 800: [800],
 801: [249, 801],
 802: [802],
 803: [803, 129820],
 804: [804, 1409],
 805: [805],
 806: [806],
 807: [807, 232673],
 808: [808, 80654],
 809: [809, 222814],
 810: [810],
 811: [811, 13927],
 812: [812],
 813: [813],
 814: [814],
 815: [815],
 816: [816],
 817: [817],
 818: [818, 18604, 427781],
 819: [819, 5312],
 820: [820],
 821: [821, 164378],
 822: [100, 822, 282502, 306045],
 823: [823],
 824: [824],
 825: [825],
 826: [826],
 827: [827],
 828: [828],
 829: [829],
 830: [830],
 831: [831],
 832: [832],
 833: [833],
 834: [834],
 835: [835],
 836: [836],
 837: [837],
 838: [838],
 839: [839],
 840: [840],
 841: [841],
 842: [842],
 843: [843],
 844: [844],
 845: [845],
 846: [846],
 847: [847],
 848: [848, 10216, 306236, 439476],
 849: [849],
 850: [850, 372904],
 851: [851],
 852: [852],
 853: [853],
 854: [854, 427288],
 855: [855],
 856: [106, 856],
 857: [857, 353031, 482122],
 858: [858],
 859: [859, 377241, 471176],
 860: [860],
 861: [861],
 862: [862],
 863: [863, 142003, 340869],
 864: [864],
 865: [865],
 866: [866],
 867: [867],
 868: [868],
 869: [869],
 870: [870],
 871: [871],
 872: [872],
 873: [873, 461485],
 874: [874],
 875: [875, 126635],
 876: [876],
 877: [877],
 878: [878],
 879: [879, 288383],
 880: [880],
 881: [881],
 882: [882],
 883: [883, 258378],
 884: [884],
 885: [885],
 886: [886],
 887: [887],
 888: [888, 18276],
 889: [889],
 890: [890, 438897],
 891: [891],
 892: [892],
 893: [893],
 894: [894, 455109],
 895: [895],
 896: [896, 449813],
 897: [897],
 898: [898],
 899: [899],
 900: [900],
 901: [901],
 902: [902],
 903: [903],
 904: [904],
 905: [905],
 906: [906],
 907: [907],
 908: [908],
 909: [909],
 910: [910, 433736],
 911: [911],
 912: [912],
 913: [913, 3904, 3991],
 914: [914],
 915: [915],
 916: [916],
 917: [917],
 918: [918],
 919: [919],
 920: [920],
 921: [921],
 922: [922],
 923: [923],
 924: [924],
 925: [925],
 926: [926],
 927: [927],
 928: [928],
 929: [929],
 930: [930],
 931: [931],
 932: [932],
 933: [933],
 934: [934],
 935: [935, 170720],
 936: [936],
 937: [164, 937, 1610, 56600],
 938: [938],
 939: [939],
 940: [940, 495306],
 941: [941],
 942: [942],
 943: [943],
 944: [944],
 945: [945],
 946: [946],
 947: [947, 30990, 50530, 239507],
 948: [948],
 949: [949],
 950: [950, 227087],
 951: [951],
 952: [952],
 953: [953, 143552, 297180],
 954: [954],
 955: [955],
 956: [956, 118604],
 957: [957],
 958: [958],
 959: [959],
 960: [960],
 961: [961],
 962: [962],
 963: [963],
 964: [964, 281484],
 965: [965],
 966: [966],
 967: [967],
 968: [968],
 969: [969],
 970: [970],
 971: [971, 158299, 499923],
 972: [972],
 973: [973],
 974: [974],
 975: [975],
 976: [976, 75287],
 977: [977],
 978: [978],
 979: [979],
 980: [980],
 981: [981, 113575, 227697, 272022],
 982: [982],
 983: [983],
 984: [984],
 985: [985],
 986: [986],
 987: [987],
 988: [988],
 989: [989, 225789],
 990: [990],
 991: [991],
 992: [992, 27166],
 993: [993],
 994: [994],
 995: [995, 316304, 341113],
 996: [996],
 997: [997],
 998: [998],
 999: [999],
 ...}

In [12]:
def convert_ticket_trace(some_list):
  ans=""
  for i in some_list:
    ans+= str(i)+"-"

  return ans[:-1]

def contact_val(data,some_list):
  sum_val=0
  for i in some_list:
    sum_val += int(data[i])
  return sum_val

In [13]:
def make_finalDf():
  trace_contact = []
  for a in range(len(data)):
    new_list = list(order_trace[a]) + list(phone_trace[a]) + list(email_trace[a])
    new_list= sorted(list(set(new_list)))
    ticket_trace = convert_ticket_trace(new_list)
    ticket_contact = contact_val(data["Contacts"],new_list)
    trace_contact.append( (str(ticket_trace) + ", "+str(ticket_contact)) )
  return trace_contact
  

cool= make_finalDf()

In [14]:
final_df = pd.DataFrame(cool)
final_df

                       0
0                   0, 1
1       1-2458-476346, 5
2            2-348955, 0
3                   3, 0
4                   4, 2
...                  ...
499995         499995, 2
499996         499996, 4
499997         499997, 2
499998  121111-499998, 5
499999         499999, 0

[500000 rows x 1 columns]

In [17]:

d={'ticket_id': range(len(cool))}
df= pd.DataFrame(data=d)
df["ticket_trace/contact"]= final_df[0]
df

        ticket_id ticket_trace/contact
0               0                 0, 1
1               1     1-2458-476346, 5
2               2          2-348955, 0
3               3                 3, 0
4               4                 4, 2
...           ...                  ...
499995     499995            499995, 2
499996     499996            499996, 4
499997     499997            499997, 2
499998     499998     121111-499998, 5
499999     499999            499999, 0

[500000 rows x 2 columns]

In [19]:
df.to_csv("submission.csv", encoding='utf-8', index= False)